header {
    background-color: #6f6565;
    display: flex;
    justify-content: center;
    
  }

header> .logo{
    height: 100px;
     width: auto;
}

nav{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: larger;
    color: #fff;
}

.street{
    background-image: url("images/streetview.jpg");
    background-size: cover;
    height: 1000px;
    margin-bottom: .5%;
    z-index: -1;
}

.street>h2{
    z-index: 1;
    text-align: center;
    color: #fff;
}



article{
    display: inline-block;
}

section> .desserts{
    display: inline-block;
}

#menu {
    text-align: center;
}

#menu ul{
    list-style-position: inside;
}

.country> img{
    display: block;
    margin: 10;
}